body {
	padding-top: 20px;
}

@font-face {
	font-family: "Linux Libertine";
	src: url(../../src/fonts/LinLibertine_aDRS.ttf);
}

.subtitle {
	font-family: "Linux Libertine";
	margin: 0px !important;
	font-size: 18px;
}

.pace .pace-progress {
	background: #ee6e73 !important;
}